# Server Configuration
PORT=3001

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=modulisation_db

# Keycloak Configuration (nest-keycloak-connect)
KEYCLOAK_AUTH_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=your_realm_name
KEYCLOAK_CLIENT_ID=your_backend_client_id
KEYCLOAK_SECRET=your_backend_client_secret

# SMTP Mailer Configuration (for OTP Service)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
